# Frontend ignored files
node_modules/
front/.DS_Store
front/package-lock.json
front/src/.DS_Store

# Api ignored files
api/public/storage
api/public/hot
api/vendor
api/storage/*.key
api/.phpunit.result.cache
api/composer.lock

#db ignored
db/
